> ### ðŸ“˜ Reference and Inspiration
> This notebook is largely inspired by and draws material from the excellent course provided by **Professor S.J. Spielman**.
>
> You can find the original course material (and many others..) here: [sjspielman.github.io](https://sjspielman.github.io/)

In [8]:
# LEARNING TIDYVERSE
library(tidyverse)

# import a dataset
ds <- read_csv("msleep.csv")

Rows: 83 Columns: 11
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (5): name, genus, vore, order, conservation
dbl (6): sleep_total, sleep_rem, sleep_cycle, awake, brainwt, bodywt

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [40]:
# explore with function glimpse()
glimpse(ds)

# Use filter() to subset msleep to only herbivores.
# glimpse %>% filter()

Rows: 83
Columns: 11
$ name         <chr> "Cheetah", "Owl monkey", "Mountain beaver", "Greater shorâ€¦
$ genus        <chr> "Acinonyx", "Aotus", "Aplodontia", "Blarina", "Bos", "Braâ€¦
$ vore         <chr> "carni", "omni", "herbi", "omni", "herbi", "herbi", "carnâ€¦
$ order        <chr> "Carnivora", "Primates", "Rodentia", "Soricomorpha", "Artâ€¦
$ conservation <chr> "lc", NA, "nt", "lc", "domesticated", NA, "vu", NA, "domeâ€¦
$ sleep_total  <dbl> 12.1, 17.0, 14.4, 14.9, 4.0, 14.4, 8.7, 7.0, 10.1, 3.0, 5â€¦
$ sleep_rem    <dbl> NA, 1.8, 2.4, 2.3, 0.7, 2.2, 1.4, NA, 2.9, NA, 0.6, 0.8, â€¦
$ sleep_cycle  <dbl> NA, NA, NA, 0.1333333, 0.6666667, 0.7666667, 0.3833333, Nâ€¦
$ awake        <dbl> 11.9, 7.0, 9.6, 9.1, 20.0, 9.6, 15.3, 17.0, 13.9, 21.0, 1â€¦
$ brainwt      <dbl> NA, 0.01550, NA, 0.00029, 0.42300, NA, NA, NA, 0.07000, 0â€¦
$ bodywt       <dbl> 50.000, 0.480, 1.350, 0.019, 600.000, 3.850, 20.490, 0.04â€¦

In [18]:
# SUBSETTING ROWS WITH FILTER()

# Use filter() to subset msleep to only herbivores.

# Inspect the values of the variable "vore"
unique(ds$vore)

# Use filter() to subset msleep to only herbivores.
ds_herbi <- ds %>%
  filter(vore == "herbi")

head(ds_herbi)

[1] "carni"   "omni"    "herbi"   NA        "insecti"

  name             genus      vore  order        conservation sleep_total
1 Mountain beaver  Aplodontia herbi Rodentia     nt           14.4
2 Cow              Bos        herbi Artiodactyla domesticated  4.0
3 Three-toed sloth Bradypus   herbi Pilosa       NA           14.4
4 Roe deer         Capreolus  herbi Artiodactyla lc            3.0
5 Goat             Capri      herbi Artiodactyla lc            5.3
6 Guinea pig       Cavis      herbi Rodentia     domesticated  9.4
  sleep_rem sleep_cycle awake brainwt bodywt
1 2.4              NA    9.6      NA    1.350
2 0.7       0.6666667   20.0  0.4230  600.000
3 2.2       0.7666667    9.6      NA    3.850
4  NA              NA   21.0  0.0982   14.800
5 0.6              NA   18.7  0.1150   33.500
6 0.8       0.2166667   14.6  0.0055    0.728

In [23]:
# Use filter() to subset msleep to only animals who are awake for at least 12 hours of the day.
ds_aw12 <- ds %>%
  filter(awake >= 12)

head(ds_aw12)

  name              genus       vore  order        conservation sleep_total
1 Cow               Bos         herbi Artiodactyla domesticated  4.0
2 Northern fur seal Callorhinus carni Carnivora    vu            8.7
3 Vesper mouse      Calomys     NA    Rodentia     NA            7.0
4 Dog               Canis       carni Carnivora    domesticated 10.1
5 Roe deer          Capreolus   herbi Artiodactyla lc            3.0
6 Goat              Capri       herbi Artiodactyla lc            5.3
  sleep_rem sleep_cycle awake brainwt bodywt
1 0.7       0.6666667   20.0  0.4230  600.000
2 1.4       0.3833333   15.3      NA   20.490
3  NA              NA   17.0      NA    0.045
4 2.9       0.3333333   13.9  0.0700   14.000
5  NA              NA   21.0  0.0982   14.800
6 0.6              NA   18.7  0.1150   33.500

In [25]:
# Use filter() to subset msleep to only herbivores who are awake for at least 12 hours of the days.
ds_herb12 <- ds %>%
  filter(vore == "herbi", awake >= 12)

head(ds_herb12)

  name           genus       vore  order        conservation sleep_total
1 Cow            Bos         herbi Artiodactyla domesticated 4.0
2 Roe deer       Capreolus   herbi Artiodactyla lc           3.0
3 Goat           Capri       herbi Artiodactyla lc           5.3
4 Guinea pig     Cavis       herbi Rodentia     domesticated 9.4
5 Tree hyrax     Dendrohyrax herbi Hyracoidea   lc           5.3
6 Asian elephant Elephas     herbi Proboscidea  en           3.9
  sleep_rem sleep_cycle awake brainwt bodywt
1 0.7       0.6666667   20.0  0.4230   600.000
2  NA              NA   21.0  0.0982    14.800
3 0.6              NA   18.7  0.1150    33.500
4 0.8       0.2166667   14.6  0.0055     0.728
5 0.5              NA   18.7  0.0123     2.950
6  NA              NA   20.1  4.6030  2547.000

In [28]:
# Use filter() and logical operator %in% (or |) to subset the dataset to keep just herbivores and carnivores.

ds %>%
  filter(vore %in% c("herbi", "carni"))

# OR

ds %>%
  filter(vore == "herbi" | vore == "carni")

   name                           genus         vore  order
1  Cheetah                        Acinonyx      carni Carnivora
2  Mountain beaver                Aplodontia    herbi Rodentia
3  Cow                            Bos           herbi Artiodactyla
4  Three-toed sloth               Bradypus      herbi Pilosa
5  Northern fur seal              Callorhinus   carni Carnivora
6  Dog                            Canis         carni Carnivora
7  Roe deer                       Capreolus     herbi Artiodactyla
8  Goat                           Capri         herbi Artiodactyla
9  Guinea pig                     Cavis         herbi Rodentia
10 Chinchilla                     Chinchilla    herbi Rodentia
11 Long-nosed armadillo           Dasypus       carni Cingulata
12 Tree hyrax                     Dendrohyrax   herbi Hyracoidea
13 Asian elephant                 Elephas       herbi Proboscidea
14 Horse                          Equus         herbi Perissodactyla
15 Donkey                         Equus         herbi Perissodactyla
16 Western american chipmunk      Eutamias      herbi Rodentia
17 Domestic cat                   Felis         carni Carnivora
18 Giraffe                        Giraffa       herbi Artiodactyla
19 Pilot whale                    Globicephalus carni Cetacea
20 Gray seal                      Haliochoerus  carni Carnivora
21 Gray hyrax                     Heterohyrax   herbi Hyracoidea
22 Mongoose lemur                 Lemur         herbi Primates
23 African elephant               Loxodonta     herbi Proboscidea
24 Thick-tailed opposum           Lutreolina    carni Didelphimorphia
25 Mongolian gerbil               Meriones      herbi Rodentia
26 Golden hamster                 Mesocricetus  herbi Rodentia
27 Vole                           Microtus      herbi Rodentia
28 House mouse                    Mus           herbi Rodentia
29 Round-tailed muskrat           Neofiber      herbi Rodentia
30 Slow loris                     Nyctibeus     carni Primates
31 Degu                           Octodon       herbi Rodentia
32 Northern grasshopper mouse     Onychomys     carni Rodentia
33 Rabbit                         Oryctolagus   herbi Lagomorpha
34 Sheep                          Ovis          herbi Artiodactyla
35 Tiger                          Panthera      carni Carnivora
36 Jaguar                         Panthera      carni Carnivora
37 Lion                           Panthera      carni Carnivora
38 Caspian seal                   Phoca         carni Carnivora
39 Common porpoise                Phocoena      carni Cetacea
40 Potoroo                        Potorous      herbi Diprotodontia
41 Laboratory rat                 Rattus        herbi Rodentia
42 Cotton rat                     Sigmodon      herbi Rodentia
43 Arctic ground squirrel         Spermophilus  herbi Rodentia
44 Thirteen-lined ground squirrel Spermophilus  herbi Rodentia
45 Golden-mantled ground squirrel Spermophilus  herbi Rodentia
46 Eastern american chipmunk      Tamias        herbi Rodentia
47 Brazilian tapir                Tapirus       herbi Perissodactyla
48 Bottle-nosed dolphin           Tursiops      carni Cetacea
49 Genet                          Genetta       carni Carnivora
50 Arctic fox                     Vulpes        carni Carnivora
51 Red fox                        Vulpes        carni Carnivora
   conservation sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1  lc           12.1         NA              NA   11.90      NA   50.000
2  nt           14.4        2.4              NA    9.60      NA    1.350
3  domesticated  4.0        0.7       0.6666667   20.00 0.42300  600.000
4  NA           14.4        2.2       0.7666667    9.60      NA    3.850
5  vu            8.7        1.4       0.3833333   15.30      NA   20.490
6  domesticated 10.1        2.9       0.3333333   13.90 0.07000   14.000
7  lc            3.0         NA              NA   21.00 0.09820   14.800
8  lc            5.3        0.6              NA   18.70 0.11500   33.500
9  domesticated  9.4        0.8       0.2166667   14.60 0.00550    0.728
10 domesticated 12.5        1.5       0.1166667   11.50 0.00640    0.420
11 lc           17.4        3.1       0.3833333    6.60 0.01080    3.500
12 lc            5.3        0.5              NA   18.70 0.01230    2.950
13 en            3.9         NA              NA   20.10 4.60300 2547.000
14 domesticated  2.9        0.6       1.0000000   21.10 0.65500  521.000
15 domesticated  3.1        0.4              NA   20.90 0.41900  187.000
16 NA           14.9         NA              NA    9.10      NA    0.071
17 domesticated 12.5        3.2       0.4166667   11.50 0.02560    3.300
18 cd            1.9        0.4              NA   22.10      NA  899.995
19 cd            2.7        0.1              NA   21.35      NA  800.000
20 lc            6.2        1.5              NA   17.80 0.32500   85.000
21 lc            6.3        0.6              NA   17.70 0.01227    2.625
22 vu            9.5        0.9              NA   14.50      NA    1.670
23 vu            3.3         NA              NA   20.70 5.71200 6654.000
24 lc           19.4        6.6              NA    4.60      NA    0.370
25 lc           14.2        1.9              NA    9.80      NA    0.053
26 en           14.3        3.1       0.2000000    9.70 0.00100    0.120
27 NA           12.8         NA              NA   11.20      NA    0.035
28 nt           12.5        1.4       0.1833333   11.50 0.00040    0.022
29 nt           14.6         NA              NA    9.40      NA    0.266
30 NA           11.0         NA              NA   13.00 0.01250    1.400
31 lc            7.7        0.9              NA   16.30      NA    0.210
32 lc           14.5         NA              NA    9.50      NA    0.028
33 domesticated  8.4        0.9       0.4166667   15.60 0.01210    2.500
34 domesticated  3.8        0.6              NA   20.20 0.17500   55.500
35 en           15.8         NA              NA    8.20      NA  162.564
36 nt           10.4         NA              NA   13.60 0.15700  100.000
37 vu           13.5         NA              NA   10.50      NA  161.499
38 vu            3.5        0.4              NA   20.50      NA   86.000
39 vu            5.6         NA              NA   18.45      NA   53.180
40 NA           11.1        1.5              NA   12.90      NA    1.100
41 lc           13.0        2.4       0.1833333   11.00 0.00190    0.320
42 NA           11.3        1.1       0.1500000   12.70 0.00118    0.148
43 lc           16.6         NA              NA    7.40 0.00570    0.920
44 lc           13.8        3.4       0.2166667   10.20 0.00400    0.101
45 lc           15.9        3.0              NA    8.10      NA    0.205
46 NA           15.8         NA              NA    8.20      NA    0.112
47 vu            4.4        1.0       0.9000000   19.60 0.16900  207.501
48 NA            5.2         NA              NA   18.80      NA  173.330
49 NA            6.3        1.3              NA   17.70 0.01750    2.000
50 NA           12.5         NA              NA   11.50 0.04450    3.380
51 NA            9.8        2.4       0.3500000   14.20 0.05040    4.230

   name                           genus         vore  order
1  Cheetah                        Acinonyx      carni Carnivora
2  Mountain beaver                Aplodontia    herbi Rodentia
3  Cow                            Bos           herbi Artiodactyla
4  Three-toed sloth               Bradypus      herbi Pilosa
5  Northern fur seal              Callorhinus   carni Carnivora
6  Dog                            Canis         carni Carnivora
7  Roe deer                       Capreolus     herbi Artiodactyla
8  Goat                           Capri         herbi Artiodactyla
9  Guinea pig                     Cavis         herbi Rodentia
10 Chinchilla                     Chinchilla    herbi Rodentia
11 Long-nosed armadillo           Dasypus       carni Cingulata
12 Tree hyrax                     Dendrohyrax   herbi Hyracoidea
13 Asian elephant                 Elephas       herbi Proboscidea
14 Horse                          Equus         herbi Perissodactyla
15 Donkey                         Equus         herbi Perissodactyla
16 Western american chipmunk      Eutamias      herbi Rodentia
17 Domestic cat                   Felis         carni Carnivora
18 Giraffe                        Giraffa       herbi Artiodactyla
19 Pilot whale                    Globicephalus carni Cetacea
20 Gray seal                      Haliochoerus  carni Carnivora
21 Gray hyrax                     Heterohyrax   herbi Hyracoidea
22 Mongoose lemur                 Lemur         herbi Primates
23 African elephant               Loxodonta     herbi Proboscidea
24 Thick-tailed opposum           Lutreolina    carni Didelphimorphia
25 Mongolian gerbil               Meriones      herbi Rodentia
26 Golden hamster                 Mesocricetus  herbi Rodentia
27 Vole                           Microtus      herbi Rodentia
28 House mouse                    Mus           herbi Rodentia
29 Round-tailed muskrat           Neofiber      herbi Rodentia
30 Slow loris                     Nyctibeus     carni Primates
31 Degu                           Octodon       herbi Rodentia
32 Northern grasshopper mouse     Onychomys     carni Rodentia
33 Rabbit                         Oryctolagus   herbi Lagomorpha
34 Sheep                          Ovis          herbi Artiodactyla
35 Tiger                          Panthera      carni Carnivora
36 Jaguar                         Panthera      carni Carnivora
37 Lion                           Panthera      carni Carnivora
38 Caspian seal                   Phoca         carni Carnivora
39 Common porpoise                Phocoena      carni Cetacea
40 Potoroo                        Potorous      herbi Diprotodontia
41 Laboratory rat                 Rattus        herbi Rodentia
42 Cotton rat                     Sigmodon      herbi Rodentia
43 Arctic ground squirrel         Spermophilus  herbi Rodentia
44 Thirteen-lined ground squirrel Spermophilus  herbi Rodentia
45 Golden-mantled ground squirrel Spermophilus  herbi Rodentia
46 Eastern american chipmunk      Tamias        herbi Rodentia
47 Brazilian tapir                Tapirus       herbi Perissodactyla
48 Bottle-nosed dolphin           Tursiops      carni Cetacea
49 Genet                          Genetta       carni Carnivora
50 Arctic fox                     Vulpes        carni Carnivora
51 Red fox                        Vulpes        carni Carnivora
   conservation sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1  lc           12.1         NA              NA   11.90      NA   50.000
2  nt           14.4        2.4              NA    9.60      NA    1.350
3  domesticated  4.0        0.7       0.6666667   20.00 0.42300  600.000
4  NA           14.4        2.2       0.7666667    9.60      NA    3.850
5  vu            8.7        1.4       0.3833333   15.30      NA   20.490
6  domesticated 10.1        2.9       0.3333333   13.90 0.07000   14.000
7  lc            3.0         NA              NA   21.00 0.09820   14.800
8  lc            5.3        0.6              NA   18.70 0.11500   33.500
9  domesticated  9.4        0.8       0.2166667   14.60 0.00550    0.728
10 domesticated 12.5        1.5       0.1166667   11.50 0.00640    0.420
11 lc           17.4        3.1       0.3833333    6.60 0.01080    3.500
12 lc            5.3        0.5              NA   18.70 0.01230    2.950
13 en            3.9         NA              NA   20.10 4.60300 2547.000
14 domesticated  2.9        0.6       1.0000000   21.10 0.65500  521.000
15 domesticated  3.1        0.4              NA   20.90 0.41900  187.000
16 NA           14.9         NA              NA    9.10      NA    0.071
17 domesticated 12.5        3.2       0.4166667   11.50 0.02560    3.300
18 cd            1.9        0.4              NA   22.10      NA  899.995
19 cd            2.7        0.1              NA   21.35      NA  800.000
20 lc            6.2        1.5              NA   17.80 0.32500   85.000
21 lc            6.3        0.6              NA   17.70 0.01227    2.625
22 vu            9.5        0.9              NA   14.50      NA    1.670
23 vu            3.3         NA              NA   20.70 5.71200 6654.000
24 lc           19.4        6.6              NA    4.60      NA    0.370
25 lc           14.2        1.9              NA    9.80      NA    0.053
26 en           14.3        3.1       0.2000000    9.70 0.00100    0.120
27 NA           12.8         NA              NA   11.20      NA    0.035
28 nt           12.5        1.4       0.1833333   11.50 0.00040    0.022
29 nt           14.6         NA              NA    9.40      NA    0.266
30 NA           11.0         NA              NA   13.00 0.01250    1.400
31 lc            7.7        0.9              NA   16.30      NA    0.210
32 lc           14.5         NA              NA    9.50      NA    0.028
33 domesticated  8.4        0.9       0.4166667   15.60 0.01210    2.500
34 domesticated  3.8        0.6              NA   20.20 0.17500   55.500
35 en           15.8         NA              NA    8.20      NA  162.564
36 nt           10.4         NA              NA   13.60 0.15700  100.000
37 vu           13.5         NA              NA   10.50      NA  161.499
38 vu            3.5        0.4              NA   20.50      NA   86.000
39 vu            5.6         NA              NA   18.45      NA   53.180
40 NA           11.1        1.5              NA   12.90      NA    1.100
41 lc           13.0        2.4       0.1833333   11.00 0.00190    0.320
42 NA           11.3        1.1       0.1500000   12.70 0.00118    0.148
43 lc           16.6         NA              NA    7.40 0.00570    0.920
44 lc           13.8        3.4       0.2166667   10.20 0.00400    0.101
45 lc           15.9        3.0              NA    8.10      NA    0.205
46 NA           15.8         NA              NA    8.20      NA    0.112
47 vu            4.4        1.0       0.9000000   19.60 0.16900  207.501
48 NA            5.2         NA              NA   18.80      NA  173.330
49 NA            6.3        1.3              NA   17.70 0.01750    2.000
50 NA           12.5         NA              NA   11.50 0.04450    3.380
51 NA            9.8        2.4       0.3500000   14.20 0.05040    4.230

In [32]:
# Use filter() to subset msleep to include only herbivores and carnivores who sleep at least 12 hours a day.

ds %>%
  filter (vore %in% c("herbi", "carni"),
                    sleep_total >= 12)

# OR

ds %>%
  filter((vore == "herbi" | vore == "carni"),
        sleep_total >= 12)

   name                           genus        vore  order
1  Cheetah                        Acinonyx     carni Carnivora
2  Mountain beaver                Aplodontia   herbi Rodentia
3  Three-toed sloth               Bradypus     herbi Pilosa
4  Chinchilla                     Chinchilla   herbi Rodentia
5  Long-nosed armadillo           Dasypus      carni Cingulata
6  Western american chipmunk      Eutamias     herbi Rodentia
7  Domestic cat                   Felis        carni Carnivora
8  Thick-tailed opposum           Lutreolina   carni Didelphimorphia
9  Mongolian gerbil               Meriones     herbi Rodentia
10 Golden hamster                 Mesocricetus herbi Rodentia
11 Vole                           Microtus     herbi Rodentia
12 House mouse                    Mus          herbi Rodentia
13 Round-tailed muskrat           Neofiber     herbi Rodentia
14 Northern grasshopper mouse     Onychomys    carni Rodentia
15 Tiger                          Panthera     carni Carnivora
16 Lion                           Panthera     carni Carnivora
17 Laboratory rat                 Rattus       herbi Rodentia
18 Arctic ground squirrel         Spermophilus herbi Rodentia
19 Thirteen-lined ground squirrel Spermophilus herbi Rodentia
20 Golden-mantled ground squirrel Spermophilus herbi Rodentia
21 Eastern american chipmunk      Tamias       herbi Rodentia
22 Arctic fox                     Vulpes       carni Carnivora
   conservation sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1  lc           12.1         NA              NA   11.9      NA   50.000
2  nt           14.4        2.4              NA    9.6      NA    1.350
3  NA           14.4        2.2       0.7666667    9.6      NA    3.850
4  domesticated 12.5        1.5       0.1166667   11.5  0.0064    0.420
5  lc           17.4        3.1       0.3833333    6.6  0.0108    3.500
6  NA           14.9         NA              NA    9.1      NA    0.071
7  domesticated 12.5        3.2       0.4166667   11.5  0.0256    3.300
8  lc           19.4        6.6              NA    4.6      NA    0.370
9  lc           14.2        1.9              NA    9.8      NA    0.053
10 en           14.3        3.1       0.2000000    9.7  0.0010    0.120
11 NA           12.8         NA              NA   11.2      NA    0.035
12 nt           12.5        1.4       0.1833333   11.5  0.0004    0.022
13 nt           14.6         NA              NA    9.4      NA    0.266
14 lc           14.5         NA              NA    9.5      NA    0.028
15 en           15.8         NA              NA    8.2      NA  162.564
16 vu           13.5         NA              NA   10.5      NA  161.499
17 lc           13.0        2.4       0.1833333   11.0  0.0019    0.320
18 lc           16.6         NA              NA    7.4  0.0057    0.920
19 lc           13.8        3.4       0.2166667   10.2  0.0040    0.101
20 lc           15.9        3.0              NA    8.1      NA    0.205
21 NA           15.8         NA              NA    8.2      NA    0.112
22 NA           12.5         NA              NA   11.5  0.0445    3.380

   name                           genus        vore  order
1  Cheetah                        Acinonyx     carni Carnivora
2  Mountain beaver                Aplodontia   herbi Rodentia
3  Three-toed sloth               Bradypus     herbi Pilosa
4  Chinchilla                     Chinchilla   herbi Rodentia
5  Long-nosed armadillo           Dasypus      carni Cingulata
6  Western american chipmunk      Eutamias     herbi Rodentia
7  Domestic cat                   Felis        carni Carnivora
8  Thick-tailed opposum           Lutreolina   carni Didelphimorphia
9  Mongolian gerbil               Meriones     herbi Rodentia
10 Golden hamster                 Mesocricetus herbi Rodentia
11 Vole                           Microtus     herbi Rodentia
12 House mouse                    Mus          herbi Rodentia
13 Round-tailed muskrat           Neofiber     herbi Rodentia
14 Northern grasshopper mouse     Onychomys    carni Rodentia
15 Tiger                          Panthera     carni Carnivora
16 Lion                           Panthera     carni Carnivora
17 Laboratory rat                 Rattus       herbi Rodentia
18 Arctic ground squirrel         Spermophilus herbi Rodentia
19 Thirteen-lined ground squirrel Spermophilus herbi Rodentia
20 Golden-mantled ground squirrel Spermophilus herbi Rodentia
21 Eastern american chipmunk      Tamias       herbi Rodentia
22 Arctic fox                     Vulpes       carni Carnivora
   conservation sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1  lc           12.1         NA              NA   11.9      NA   50.000
2  nt           14.4        2.4              NA    9.6      NA    1.350
3  NA           14.4        2.2       0.7666667    9.6      NA    3.850
4  domesticated 12.5        1.5       0.1166667   11.5  0.0064    0.420
5  lc           17.4        3.1       0.3833333    6.6  0.0108    3.500
6  NA           14.9         NA              NA    9.1      NA    0.071
7  domesticated 12.5        3.2       0.4166667   11.5  0.0256    3.300
8  lc           19.4        6.6              NA    4.6      NA    0.370
9  lc           14.2        1.9              NA    9.8      NA    0.053
10 en           14.3        3.1       0.2000000    9.7  0.0010    0.120
11 NA           12.8         NA              NA   11.2      NA    0.035
12 nt           12.5        1.4       0.1833333   11.5  0.0004    0.022
13 nt           14.6         NA              NA    9.4      NA    0.266
14 lc           14.5         NA              NA    9.5      NA    0.028
15 en           15.8         NA              NA    8.2      NA  162.564
16 vu           13.5         NA              NA   10.5      NA  161.499
17 lc           13.0        2.4       0.1833333   11.0  0.0019    0.320
18 lc           16.6         NA              NA    7.4  0.0057    0.920
19 lc           13.8        3.4       0.2166667   10.2  0.0040    0.101
20 lc           15.9        3.0              NA    8.1      NA    0.205
21 NA           15.8         NA              NA    8.2      NA    0.112
22 NA           12.5         NA              NA   11.5  0.0445    3.380

In [35]:
# Use filter() to subset the data to only carnivores who weigh more than 50 kg.

ds %>%
  filter(vore == "carni", bodywt > 50)

  name                 genus         vore  order     conservation sleep_total
1 Pilot whale          Globicephalus carni Cetacea   cd            2.7
2 Gray seal            Haliochoerus  carni Carnivora lc            6.2
3 Tiger                Panthera      carni Carnivora en           15.8
4 Jaguar               Panthera      carni Carnivora nt           10.4
5 Lion                 Panthera      carni Carnivora vu           13.5
6 Caspian seal         Phoca         carni Carnivora vu            3.5
7 Common porpoise      Phocoena      carni Cetacea   vu            5.6
8 Bottle-nosed dolphin Tursiops      carni Cetacea   NA            5.2
  sleep_rem sleep_cycle awake brainwt bodywt
1 0.1       NA          21.35    NA   800.000
2 1.5       NA          17.80 0.325    85.000
3  NA       NA           8.20    NA   162.564
4  NA       NA          13.60 0.157   100.000
5  NA       NA          10.50    NA   161.499
6 0.4       NA          20.50    NA    86.000
7  NA       NA          18.45    NA    53.180
8  NA       NA          18.80    NA   173.330

In [38]:
# Modify your code to the previous question so that it uses variables rather than values in filter()
# NB: this code demonstrate how much simpler is to modify the code when we use variables instead of values

target_vore <- "herbi"
target_weight <- 25

ds %>%
  filter(vore == target_vore, bodywt > target_weight)

  name             genus     vore  order          conservation sleep_total
1 Cow              Bos       herbi Artiodactyla   domesticated 4.0
2 Goat             Capri     herbi Artiodactyla   lc           5.3
3 Asian elephant   Elephas   herbi Proboscidea    en           3.9
4 Horse            Equus     herbi Perissodactyla domesticated 2.9
5 Donkey           Equus     herbi Perissodactyla domesticated 3.1
6 Giraffe          Giraffa   herbi Artiodactyla   cd           1.9
7 African elephant Loxodonta herbi Proboscidea    vu           3.3
8 Sheep            Ovis      herbi Artiodactyla   domesticated 3.8
9 Brazilian tapir  Tapirus   herbi Perissodactyla vu           4.4
  sleep_rem sleep_cycle awake brainwt bodywt
1 0.7       0.6666667   20.0  0.423    600.000
2 0.6              NA   18.7  0.115     33.500
3  NA              NA   20.1  4.603   2547.000
4 0.6       1.0000000   21.1  0.655    521.000
5 0.4              NA   20.9  0.419    187.000
6 0.4              NA   22.1     NA    899.995
7  NA              NA   20.7  5.712   6654.000
8 0.6              NA   20.2  0.175     55.500
9 1.0       0.9000000   19.6  0.169    207.501

In [43]:
# SUBSETTING COLUMNS WITH SELECT()

# Use select() to keep only the columns name, awake, sleep_total, sleep_rem, and sleep_cycle.
ds %>%
  select(name, awake, sleep_total, sleep_rem, sleep_cycle)

   name                           awake sleep_total sleep_rem sleep_cycle
1  Cheetah                        11.9  12.1         NA              NA
2  Owl monkey                      7.0  17.0        1.8              NA
3  Mountain beaver                 9.6  14.4        2.4              NA
4  Greater short-tailed shrew      9.1  14.9        2.3       0.1333333
5  Cow                            20.0   4.0        0.7       0.6666667
6  Three-toed sloth                9.6  14.4        2.2       0.7666667
7  Northern fur seal              15.3   8.7        1.4       0.3833333
8  Vesper mouse                   17.0   7.0         NA              NA
9  Dog                            13.9  10.1        2.9       0.3333333
10 Roe deer                       21.0   3.0         NA              NA
11 Goat                           18.7   5.3        0.6              NA
12 Guinea pig                     14.6   9.4        0.8       0.2166667
13 Grivet                         14.0  10.0        0.7              NA
14 Chinchilla                     11.5  12.5        1.5       0.1166667
15 Star-nosed mole                13.7  10.3        2.2              NA
16 African giant pouched rat      15.7   8.3        2.0              NA
17 Lesser short-tailed shrew      14.9   9.1        1.4       0.1500000
18 Long-nosed armadillo            6.6  17.4        3.1       0.3833333
19 Tree hyrax                     18.7   5.3        0.5              NA
20 North American Opossum          6.0  18.0        4.9       0.3333333
21 Asian elephant                 20.1   3.9         NA              NA
22 Big brown bat                   4.3  19.7        3.9       0.1166667
23 Horse                          21.1   2.9        0.6       1.0000000
24 Donkey                         20.9   3.1        0.4              NA
25 European hedgehog              13.9  10.1        3.5       0.2833333
26 Patas monkey                   13.1  10.9        1.1              NA
27 Western american chipmunk       9.1  14.9         NA              NA
28 Domestic cat                   11.5  12.5        3.2       0.4166667
29 Galago                         14.2   9.8        1.1       0.5500000
30 Giraffe                        22.1   1.9        0.4              NA
â‹®  â‹®                              â‹®     â‹®           â‹®         â‹®
54 Baboon                         14.60  9.4        1.0       0.6666667
55 Desert hedgehog                13.70 10.3        2.7              NA
56 Potto                          13.00 11.0         NA              NA
57 Deer mouse                     12.50 11.5         NA              NA
58 Phalanger                      10.30 13.7        1.8              NA
59 Caspian seal                   20.50  3.5        0.4              NA
60 Common porpoise                18.45  5.6         NA              NA
61 Potoroo                        12.90 11.1        1.5              NA
62 Giant armadillo                 5.90 18.1        6.1              NA
63 Rock hyrax                     18.60  5.4        0.5              NA
64 Laboratory rat                 11.00 13.0        2.4       0.1833333
65 African striped mouse          15.30  8.7         NA              NA
66 Squirrel monkey                14.40  9.6        1.4              NA
67 Eastern american mole          15.60  8.4        2.1       0.1666667
68 Cotton rat                     12.70 11.3        1.1       0.1500000
69 Mole rat                       13.40 10.6        2.4              NA
70 Arctic ground squirrel          7.40 16.6         NA              NA
71 Thirteen-lined ground squirrel 10.20 13.8        3.4       0.2166667
72 Golden-mantled ground squirrel  8.10 15.9        3.0              NA
73 Musk shrew                     11.20 12.8        2.0       0.1833333
74 Pig                            14.90  9.1        2.4       0.5000000
75 Short-nosed echidna            15.40  8.6         NA              NA
76 Eastern american chipmunk       8.20 15.8         NA              NA
77 Brazilian tapir                19.60  4.4        1.0       0.9000000
78 Tenrec                          8.40 15.6        2.3              NA
79 Tree shrew                     15.10  8.9        2.6       0.2333333
80 Bottle-nosed dolphin           18.80  5.2         NA              NA
81 Genet                          17.70  6.3        1.3              NA
82 Arctic fox                     11.50 12.5         NA              NA
83 Red fox                        14.20  9.8        2.4       0.3500000

In [47]:
# Use select() to remove the columns genus and order.
ds %>%
  select(-order, -genus)

   name                           vore    conservation sleep_total sleep_rem
1  Cheetah                        carni   lc           12.1         NA
2  Owl monkey                     omni    NA           17.0        1.8
3  Mountain beaver                herbi   nt           14.4        2.4
4  Greater short-tailed shrew     omni    lc           14.9        2.3
5  Cow                            herbi   domesticated  4.0        0.7
6  Three-toed sloth               herbi   NA           14.4        2.2
7  Northern fur seal              carni   vu            8.7        1.4
8  Vesper mouse                   NA      NA            7.0         NA
9  Dog                            carni   domesticated 10.1        2.9
10 Roe deer                       herbi   lc            3.0         NA
11 Goat                           herbi   lc            5.3        0.6
12 Guinea pig                     herbi   domesticated  9.4        0.8
13 Grivet                         omni    lc           10.0        0.7
14 Chinchilla                     herbi   domesticated 12.5        1.5
15 Star-nosed mole                omni    lc           10.3        2.2
16 African giant pouched rat      omni    NA            8.3        2.0
17 Lesser short-tailed shrew      omni    lc            9.1        1.4
18 Long-nosed armadillo           carni   lc           17.4        3.1
19 Tree hyrax                     herbi   lc            5.3        0.5
20 North American Opossum         omni    lc           18.0        4.9
21 Asian elephant                 herbi   en            3.9         NA
22 Big brown bat                  insecti lc           19.7        3.9
23 Horse                          herbi   domesticated  2.9        0.6
24 Donkey                         herbi   domesticated  3.1        0.4
25 European hedgehog              omni    lc           10.1        3.5
26 Patas monkey                   omni    lc           10.9        1.1
27 Western american chipmunk      herbi   NA           14.9         NA
28 Domestic cat                   carni   domesticated 12.5        3.2
29 Galago                         omni    NA            9.8        1.1
30 Giraffe                        herbi   cd            1.9        0.4
â‹®  â‹®                              â‹®       â‹®            â‹®           â‹®
54 Baboon                         omni    NA            9.4        1.0
55 Desert hedgehog                NA      lc           10.3        2.7
56 Potto                          omni    lc           11.0         NA
57 Deer mouse                     NA      NA           11.5         NA
58 Phalanger                      NA      NA           13.7        1.8
59 Caspian seal                   carni   vu            3.5        0.4
60 Common porpoise                carni   vu            5.6         NA
61 Potoroo                        herbi   NA           11.1        1.5
62 Giant armadillo                insecti en           18.1        6.1
63 Rock hyrax                     NA      lc            5.4        0.5
64 Laboratory rat                 herbi   lc           13.0        2.4
65 African striped mouse          omni    NA            8.7         NA
66 Squirrel monkey                omni    NA            9.6        1.4
67 Eastern american mole          insecti lc            8.4        2.1
68 Cotton rat                     herbi   NA           11.3        1.1
69 Mole rat                       NA      NA           10.6        2.4
70 Arctic ground squirrel         herbi   lc           16.6         NA
71 Thirteen-lined ground squirrel herbi   lc           13.8        3.4
72 Golden-mantled ground squirrel herbi   lc           15.9        3.0
73 Musk shrew                     NA      NA           12.8        2.0
74 Pig                            omni    domesticated  9.1        2.4
75 Short-nosed echidna            insecti NA            8.6         NA
76 Eastern american chipmunk      herbi   NA           15.8         NA
77 Brazilian tapir                herbi   vu            4.4        1.0
78 Tenrec                         omni    NA           15.6        2.3
79 Tree shrew                     omni    NA            8.9        2.6
80 Bottle-nosed dolphin           carni   NA            5.2         NA
81 Genet                          carni   NA            6.3        1.3
82 Arctic fox                     carni   NA           12.5         NA
83 Red fox                        carni   NA            9.8        2.4
   sleep_cycle awake brainwt bodywt
1         NA   11.9       NA   50.000
2         NA    7.0  0.01550    0.480
3         NA    9.6       NA    1.350
4  0.1333333    9.1  0.00029    0.019
5  0.6666667   20.0  0.42300  600.000
6  0.7666667    9.6       NA    3.850
7  0.3833333   15.3       NA   20.490
8         NA   17.0       NA    0.045
9  0.3333333   13.9  0.07000   14.000
10        NA   21.0  0.09820   14.800
11        NA   18.7  0.11500   33.500
12 0.2166667   14.6  0.00550    0.728
13        NA   14.0       NA    4.750
14 0.1166667   11.5  0.00640    0.420
15        NA   13.7  0.00100    0.060
16        NA   15.7  0.00660    1.000
17 0.1500000   14.9  0.00014    0.005
18 0.3833333    6.6  0.01080    3.500
19        NA   18.7  0.01230    2.950
20 0.3333333    6.0  0.00630    1.700
21        NA   20.1  4.60300 2547.000
22 0.1166667    4.3  0.00030    0.023
23 1.0000000   21.1  0.65500  521.000
24        NA   20.9  0.41900  187.000
25 0.2833333   13.9  0.00350    0.770
26        NA   13.1  0.11500   10.000
27        NA    9.1       NA    0.071
28 0.4166667   11.5  0.02560    3.300
29 0.5500000   14.2  0.00500    0.200
30        NA   22.1       NA  899.995
â‹®  â‹®           â‹®     â‹®       â‹®
54 0.6666667   14.60 0.18000  25.235
55        NA   13.70 0.00240   0.550
56        NA   13.00      NA   1.100
57        NA   12.50      NA   0.021
58        NA   10.30 0.01140   1.620
59        NA   20.50      NA  86.000
60        NA   18.45      NA  53.180
61        NA   12.90      NA   1.100
62        NA    5.90 0.08100  60.000
63        NA   18.60 0.02100   3.600
64 0.1833333   11.00 0.00190   0.320
65        NA   15.30      NA   0.044
66        NA   14.40 0.02000   0.743
67 0.1666667   15.60 0.00120   0.075
68 0.1500000   12.70 0.00118   0.148
69        NA   13.40 0.00300   0.122
70        NA    7.40 0.00570   0.920
71 0.2166667   10.20 0.00400   0.101
72        NA    8.10      NA   0.205
73 0.1833333   11.20 0.00033   0.048
74 0.5000000   14.90 0.18000  86.250
75        NA   15.40 0.02500   4.500
76        NA    8.20      NA   0.112
77 0.9000000   19.60 0.16900 207.501
78        NA    8.40 0.00260   0.900
79 0.2333333   15.10 0.00250   0.104
80        NA   18.80      NA 173.330
81        NA   17.70 0.01750   2.000
82        NA   11.50 0.04450   3.380
83 0.3500000   14.20 0.05040   4.230

In [48]:
# You can also use select() to re-order columns. Reorder the columns as: bodywt, brainwt, then everything else (everything())
ds %>%
  select(bodywt, brainwt, everything())

   bodywt   brainwt name                           genus         vore
1    50.000      NA Cheetah                        Acinonyx      carni
2     0.480 0.01550 Owl monkey                     Aotus         omni
3     1.350      NA Mountain beaver                Aplodontia    herbi
4     0.019 0.00029 Greater short-tailed shrew     Blarina       omni
5   600.000 0.42300 Cow                            Bos           herbi
6     3.850      NA Three-toed sloth               Bradypus      herbi
7    20.490      NA Northern fur seal              Callorhinus   carni
8     0.045      NA Vesper mouse                   Calomys       NA
9    14.000 0.07000 Dog                            Canis         carni
10   14.800 0.09820 Roe deer                       Capreolus     herbi
11   33.500 0.11500 Goat                           Capri         herbi
12    0.728 0.00550 Guinea pig                     Cavis         herbi
13    4.750      NA Grivet                         Cercopithecus omni
14    0.420 0.00640 Chinchilla                     Chinchilla    herbi
15    0.060 0.00100 Star-nosed mole                Condylura     omni
16    1.000 0.00660 African giant pouched rat      Cricetomys    omni
17    0.005 0.00014 Lesser short-tailed shrew      Cryptotis     omni
18    3.500 0.01080 Long-nosed armadillo           Dasypus       carni
19    2.950 0.01230 Tree hyrax                     Dendrohyrax   herbi
20    1.700 0.00630 North American Opossum         Didelphis     omni
21 2547.000 4.60300 Asian elephant                 Elephas       herbi
22    0.023 0.00030 Big brown bat                  Eptesicus     insecti
23  521.000 0.65500 Horse                          Equus         herbi
24  187.000 0.41900 Donkey                         Equus         herbi
25    0.770 0.00350 European hedgehog              Erinaceus     omni
26   10.000 0.11500 Patas monkey                   Erythrocebus  omni
27    0.071      NA Western american chipmunk      Eutamias      herbi
28    3.300 0.02560 Domestic cat                   Felis         carni
29    0.200 0.00500 Galago                         Galago        omni
30  899.995      NA Giraffe                        Giraffa       herbi
â‹®  â‹®        â‹®       â‹®                              â‹®             â‹®
54  25.235  0.18000 Baboon                         Papio         omni
55   0.550  0.00240 Desert hedgehog                Paraechinus   NA
56   1.100       NA Potto                          Perodicticus  omni
57   0.021       NA Deer mouse                     Peromyscus    NA
58   1.620  0.01140 Phalanger                      Phalanger     NA
59  86.000       NA Caspian seal                   Phoca         carni
60  53.180       NA Common porpoise                Phocoena      carni
61   1.100       NA Potoroo                        Potorous      herbi
62  60.000  0.08100 Giant armadillo                Priodontes    insecti
63   3.600  0.02100 Rock hyrax                     Procavia      NA
64   0.320  0.00190 Laboratory rat                 Rattus        herbi
65   0.044       NA African striped mouse          Rhabdomys     omni
66   0.743  0.02000 Squirrel monkey                Saimiri       omni
67   0.075  0.00120 Eastern american mole          Scalopus      insecti
68   0.148  0.00118 Cotton rat                     Sigmodon      herbi
69   0.122  0.00300 Mole rat                       Spalax        NA
70   0.920  0.00570 Arctic ground squirrel         Spermophilus  herbi
71   0.101  0.00400 Thirteen-lined ground squirrel Spermophilus  herbi
72   0.205       NA Golden-mantled ground squirrel Spermophilus  herbi
73   0.048  0.00033 Musk shrew                     Suncus        NA
74  86.250  0.18000 Pig                            Sus           omni
75   4.500  0.02500 Short-nosed echidna            Tachyglossus  insecti
76   0.112       NA Eastern american chipmunk      Tamias        herbi
77 207.501  0.16900 Brazilian tapir                Tapirus       herbi
78   0.900  0.00260 Tenrec                         Tenrec        omni
79   0.104  0.00250 Tree shrew                     Tupaia        omni
80 173.330       NA Bottle-nosed dolphin           Tursiops      carni
81   2.000  0.01750 Genet                          Genetta       carni
82   3.380  0.04450 Arctic fox                     Vulpes        carni
83   4.230  0.05040 Red fox                        Vulpes        carni
   order           conservation sleep_total sleep_rem sleep_cycle awake
1  Carnivora       lc           12.1         NA              NA   11.9
2  Primates        NA           17.0        1.8              NA    7.0
3  Rodentia        nt           14.4        2.4              NA    9.6
4  Soricomorpha    lc           14.9        2.3       0.1333333    9.1
5  Artiodactyla    domesticated  4.0        0.7       0.6666667   20.0
6  Pilosa          NA           14.4        2.2       0.7666667    9.6
7  Carnivora       vu            8.7        1.4       0.3833333   15.3
8  Rodentia        NA            7.0         NA              NA   17.0
9  Carnivora       domesticated 10.1        2.9       0.3333333   13.9
10 Artiodactyla    lc            3.0         NA              NA   21.0
11 Artiodactyla    lc            5.3        0.6              NA   18.7
12 Rodentia        domesticated  9.4        0.8       0.2166667   14.6
13 Primates        lc           10.0        0.7              NA   14.0
14 Rodentia        domesticated 12.5        1.5       0.1166667   11.5
15 Soricomorpha    lc           10.3        2.2              NA   13.7
16 Rodentia        NA            8.3        2.0              NA   15.7
17 Soricomorpha    lc            9.1        1.4       0.1500000   14.9
18 Cingulata       lc           17.4        3.1       0.3833333    6.6
19 Hyracoidea      lc            5.3        0.5              NA   18.7
20 Didelphimorphia lc           18.0        4.9       0.3333333    6.0
21 Proboscidea     en            3.9         NA              NA   20.1
22 Chiroptera      lc           19.7        3.9       0.1166667    4.3
23 Perissodactyla  domesticated  2.9        0.6       1.0000000   21.1
24 Perissodactyla  domesticated  3.1        0.4              NA   20.9
25 Erinaceomorpha  lc           10.1        3.5       0.2833333   13.9
26 Primates        lc           10.9        1.1              NA   13.1
27 Rodentia        NA           14.9         NA              NA    9.1
28 Carnivora       domesticated 12.5        3.2       0.4166667   11.5
29 Primates        NA            9.8        1.1       0.5500000   14.2
30 Artiodactyla    cd            1.9        0.4              NA   22.1
â‹®  â‹®               â‹®            â‹®           â‹®         â‹®           â‹®
54 Primates        NA            9.4        1.0       0.6666667   14.60
55 Erinaceomorpha  lc           10.3        2.7              NA   13.70
56 Primates        lc           11.0         NA              NA   13.00
57 Rodentia        NA           11.5         NA              NA   12.50
58 Diprotodontia   NA           13.7        1.8              NA   10.30
59 Carnivora       vu            3.5        0.4              NA   20.50
60 Cetacea         vu            5.6         NA              NA   18.45
61 Diprotodontia   NA           11.1        1.5              NA   12.90
62 Cingulata       en           18.1        6.1              NA    5.90
63 Hyracoidea      lc            5.4        0.5              NA   18.60
64 Rodentia        lc           13.0        2.4       0.1833333   11.00
65 Rodentia        NA            8.7         NA              NA   15.30
66 Primates        NA            9.6        1.4              NA   14.40
67 Soricomorpha    lc            8.4        2.1       0.1666667   15.60
68 Rodentia        NA           11.3        1.1       0.1500000   12.70
69 Rodentia        NA           10.6        2.4              NA   13.40
70 Rodentia        lc           16.6         NA              NA    7.40
71 Rodentia        lc           13.8        3.4       0.2166667   10.20
72 Rodentia        lc           15.9        3.0              NA    8.10
73 Soricomorpha    NA           12.8        2.0       0.1833333   11.20
74 Artiodactyla    domesticated  9.1        2.4       0.5000000   14.90
75 Monotremata     NA            8.6         NA              NA   15.40
76 Rodentia        NA           15.8         NA              NA    8.20
77 Perissodactyla  vu            4.4        1.0       0.9000000   19.60
78 Afrosoricida    NA           15.6        2.3              NA    8.40
79 Scandentia      NA            8.9        2.6       0.2333333   15.10
80 Cetacea         NA            5.2         NA              NA   18.80
81 Carnivora       NA            6.3        1.3              NA   17.70
82 Carnivora       NA           12.5         NA              NA   11.50
83 Carnivora       NA            9.8        2.4       0.3500000   14.20

In [59]:
# COUNTING THE NUMBER OF ROWS

# The simpler way is nrow(), even if we cannot pipe out another dataframe from it
nrow(ds)
# OR
ds %>%
  nrow()

# A nice Dplyr function is tally()
ds %>%
  tally()

# Answer the question: How many mammals weigh more than 2000 kg?
ds %>%
  filter(bodywt > 2000) %>%
  tally()

[1] 83

[1] 83

  n
1 83

  n
1 2

In [65]:
# CREATING NEW COLUMNS WITH MUTATE()

# Use mutate() to create a new column called class which literally just contains the string â€œMammaliaâ€. Indeed, these are all mammals!
# Play with it...

ds %>%
  mutate(class = "Mammalia") %>% # add the column
  select(class, everything()) %>% # order the df to check the correctness of the new column
  filter(vore == "herbi") %>%
  tally()

  n
1 32

In [72]:
# Practice writing pipeline code one line at a time below. For each step of the pipeline, look at the result to confirm it worked before adding the next step.:
# First, use mutate() to add a new column to msleep called class that contains the string â€œMammaliaâ€. Look at the output to make sure it worked.
# Then, add onto the pipeline: code with filter() to REMOVE all mammals in the order â€œRodentiaâ€ (hint: remember the !=logical operator!).
# Finally, add onto the pipeline: use select() to only keep columns in this order: class, order, genus, name.
# If all done correctly, the result should have 4 columns and 61 rows.

ds %>%
  mutate(class = "Mammalia") %>%
  filter(order != "Rodentia") %>%
  select(class, order, genus, name)

   class    order           genus         name
1  Mammalia Carnivora       Acinonyx      Cheetah
2  Mammalia Primates        Aotus         Owl monkey
3  Mammalia Soricomorpha    Blarina       Greater short-tailed shrew
4  Mammalia Artiodactyla    Bos           Cow
5  Mammalia Pilosa          Bradypus      Three-toed sloth
6  Mammalia Carnivora       Callorhinus   Northern fur seal
7  Mammalia Carnivora       Canis         Dog
8  Mammalia Artiodactyla    Capreolus     Roe deer
9  Mammalia Artiodactyla    Capri         Goat
10 Mammalia Primates        Cercopithecus Grivet
11 Mammalia Soricomorpha    Condylura     Star-nosed mole
12 Mammalia Soricomorpha    Cryptotis     Lesser short-tailed shrew
13 Mammalia Cingulata       Dasypus       Long-nosed armadillo
14 Mammalia Hyracoidea      Dendrohyrax   Tree hyrax
15 Mammalia Didelphimorphia Didelphis     North American Opossum
16 Mammalia Proboscidea     Elephas       Asian elephant
17 Mammalia Chiroptera      Eptesicus     Big brown bat
18 Mammalia Perissodactyla  Equus         Horse
19 Mammalia Perissodactyla  Equus         Donkey
20 Mammalia Erinaceomorpha  Erinaceus     European hedgehog
21 Mammalia Primates        Erythrocebus  Patas monkey
22 Mammalia Carnivora       Felis         Domestic cat
23 Mammalia Primates        Galago        Galago
24 Mammalia Artiodactyla    Giraffa       Giraffe
25 Mammalia Cetacea         Globicephalus Pilot whale
26 Mammalia Carnivora       Haliochoerus  Gray seal
27 Mammalia Hyracoidea      Heterohyrax   Gray hyrax
28 Mammalia Primates        Homo          Human
29 Mammalia Primates        Lemur         Mongoose lemur
30 Mammalia Proboscidea     Loxodonta     African elephant
â‹®  â‹®        â‹®               â‹®             â‹®
32 Mammalia Primates        Macaca        Macaque
33 Mammalia Chiroptera      Myotis        Little brown bat
34 Mammalia Primates        Nyctibeus     Slow loris
35 Mammalia Lagomorpha      Oryctolagus   Rabbit
36 Mammalia Artiodactyla    Ovis          Sheep
37 Mammalia Primates        Pan           Chimpanzee
38 Mammalia Carnivora       Panthera      Tiger
39 Mammalia Carnivora       Panthera      Jaguar
40 Mammalia Carnivora       Panthera      Lion
41 Mammalia Primates        Papio         Baboon
42 Mammalia Erinaceomorpha  Paraechinus   Desert hedgehog
43 Mammalia Primates        Perodicticus  Potto
44 Mammalia Diprotodontia   Phalanger     Phalanger
45 Mammalia Carnivora       Phoca         Caspian seal
46 Mammalia Cetacea         Phocoena      Common porpoise
47 Mammalia Diprotodontia   Potorous      Potoroo
48 Mammalia Cingulata       Priodontes    Giant armadillo
49 Mammalia Hyracoidea      Procavia      Rock hyrax
50 Mammalia Primates        Saimiri       Squirrel monkey
51 Mammalia Soricomorpha    Scalopus      Eastern american mole
52 Mammalia Soricomorpha    Suncus        Musk shrew
53 Mammalia Artiodactyla    Sus           Pig
54 Mammalia Monotremata     Tachyglossus  Short-nosed echidna
55 Mammalia Perissodactyla  Tapirus       Brazilian tapir
56 Mammalia Afrosoricida    Tenrec        Tenrec
57 Mammalia Scandentia      Tupaia        Tree shrew
58 Mammalia Cetacea         Tursiops      Bottle-nosed dolphin
59 Mammalia Carnivora       Genetta       Genet
60 Mammalia Carnivora       Vulpes        Arctic fox
61 Mammalia Carnivora       Vulpes        Red fox

In [77]:
# Create a new variable called bodywt_lbs which contains the body weight in pounds (1 kg = 2.2 lbs).

ds %>%
  mutate(bodywt_lbs = bodywt * 2.2) %>%
  select(bodywt, bodywt_lbs)

   bodywt   bodywt_lbs
1    50.000  110.0000
2     0.480    1.0560
3     1.350    2.9700
4     0.019    0.0418
5   600.000 1320.0000
6     3.850    8.4700
7    20.490   45.0780
8     0.045    0.0990
9    14.000   30.8000
10   14.800   32.5600
11   33.500   73.7000
12    0.728    1.6016
13    4.750   10.4500
14    0.420    0.9240
15    0.060    0.1320
16    1.000    2.2000
17    0.005    0.0110
18    3.500    7.7000
19    2.950    6.4900
20    1.700    3.7400
21 2547.000 5603.4000
22    0.023    0.0506
23  521.000 1146.2000
24  187.000  411.4000
25    0.770    1.6940
26   10.000   22.0000
27    0.071    0.1562
28    3.300    7.2600
29    0.200    0.4400
30  899.995 1979.9890
â‹®  â‹®        â‹®
54  25.235   55.5170
55   0.550    1.2100
56   1.100    2.4200
57   0.021    0.0462
58   1.620    3.5640
59  86.000  189.2000
60  53.180  116.9960
61   1.100    2.4200
62  60.000  132.0000
63   3.600    7.9200
64   0.320    0.7040
65   0.044    0.0968
66   0.743    1.6346
67   0.075    0.1650
68   0.148    0.3256
69   0.122    0.2684
70   0.920    2.0240
71   0.101    0.2222
72   0.205    0.4510
73   0.048    0.1056
74  86.250  189.7500
75   4.500    9.9000
76   0.112    0.2464
77 207.501  456.5022
78   0.900    1.9800
79   0.104    0.2288
80 173.330  381.3260
81   2.000    4.4000
82   3.380    7.4360
83   4.230    9.3060

In [78]:
glimpse(ds)

Rows: 83
Columns: 11
$ name         <chr> "Cheetah", "Owl monkey", "Mountain beaver", "Greater shorâ€¦
$ genus        <chr> "Acinonyx", "Aotus", "Aplodontia", "Blarina", "Bos", "Braâ€¦
$ vore         <chr> "carni", "omni", "herbi", "omni", "herbi", "herbi", "carnâ€¦
$ order        <chr> "Carnivora", "Primates", "Rodentia", "Soricomorpha", "Artâ€¦
$ conservation <chr> "lc", NA, "nt", "lc", "domesticated", NA, "vu", NA, "domeâ€¦
$ sleep_total  <dbl> 12.1, 17.0, 14.4, 14.9, 4.0, 14.4, 8.7, 7.0, 10.1, 3.0, 5â€¦
$ sleep_rem    <dbl> NA, 1.8, 2.4, 2.3, 0.7, 2.2, 1.4, NA, 2.9, NA, 0.6, 0.8, â€¦
$ sleep_cycle  <dbl> NA, NA, NA, 0.1333333, 0.6666667, 0.7666667, 0.3833333, Nâ€¦
$ awake        <dbl> 11.9, 7.0, 9.6, 9.1, 20.0, 9.6, 15.3, 17.0, 13.9, 21.0, 1â€¦
$ brainwt      <dbl> NA, 0.01550, NA, 0.00029, 0.42300, NA, NA, NA, 0.07000, 0â€¦
$ bodywt       <dbl> 50.000, 0.480, 1.350, 0.019, 600.000, 3.850, 20.490, 0.04â€¦

In [80]:
# Use mutate() to create a new column called percent_day_awake that gives the percentage of the day that each species spends awake.

ds %>%
  mutate(percent_day_awake = (awake / 24) * 100) %>%
  select(percent_day_awake)

   percent_day_awake
1  49.58333
2  29.16667
3  40.00000
4  37.91667
5  83.33333
6  40.00000
7  63.75000
8  70.83333
9  57.91667
10 87.50000
11 77.91667
12 60.83333
13 58.33333
14 47.91667
15 57.08333
16 65.41667
17 62.08333
18 27.50000
19 77.91667
20 25.00000
21 83.75000
22 17.91667
23 87.91667
24 87.08333
25 57.91667
26 54.58333
27 37.91667
28 47.91667
29 59.16667
30 92.08333
â‹®  â‹®
54 60.83333
55 57.08333
56 54.16667
57 52.08333
58 42.91667
59 85.41667
60 76.87500
61 53.75000
62 24.58333
63 77.50000
64 45.83333
65 63.75000
66 60.00000
67 65.00000
68 52.91667
69 55.83333
70 30.83333
71 42.50000
72 33.75000
73 46.66667
74 62.08333
75 64.16667
76 34.16667
77 81.66667
78 35.00000
79 62.91667
80 78.33333
81 73.75000
82 47.91667
83 59.16667

In [82]:
# Use mutate() to create a new column called log_bodywt that gives the natural logarithm of the body weight.

ds %>%
  mutate(log_bodywt = log(bodywt)) %>%
  select(bodywt, log_bodywt)

   bodywt   log_bodywt
1    50.000  3.9120230
2     0.480 -0.7339692
3     1.350  0.3001046
4     0.019 -3.9633163
5   600.000  6.3969297
6     3.850  1.3480731
7    20.490  3.0199370
8     0.045 -3.1010928
9    14.000  2.6390573
10   14.800  2.6946272
11   33.500  3.5115454
12    0.728 -0.3174542
13    4.750  1.5581446
14    0.420 -0.8675006
15    0.060 -2.8134107
16    1.000  0.0000000
17    0.005 -5.2983174
18    3.500  1.2527630
19    2.950  1.0818052
20    1.700  0.5306283
21 2547.000  7.8426715
22    0.023 -3.7722611
23  521.000  6.2557500
24  187.000  5.2311086
25    0.770 -0.2613648
26   10.000  2.3025851
27    0.071 -2.6450754
28    3.300  1.1939225
29    0.200 -1.6094379
30  899.995  6.8023892
â‹®  â‹®        â‹®
54  25.235   3.22823192
55   0.550  -0.59783700
56   1.100   0.09531018
57   0.021  -3.86323284
58   1.620   0.48242615
59  86.000   4.45434730
60  53.180   3.97368239
61   1.100   0.09531018
62  60.000   4.09434456
63   3.600   1.28093385
64   0.320  -1.13943428
65   0.044  -3.12356565
66   0.743  -0.29705923
67   0.075  -2.59026717
68   0.148  -1.91054301
69   0.122  -2.10373423
70   0.920  -0.08338161
71   0.101  -2.29263476
72   0.205  -1.58474530
73   0.048  -3.03655427
74  86.250   4.45725006
75   4.500   1.50407740
76   0.112  -2.18925641
77 207.501   5.33513616
78   0.900  -0.10536052
79   0.104  -2.26336438
80 173.330   5.15519729
81   2.000   0.69314718
82   3.380   1.21787571
83   4.230   1.44220199

In [83]:
# Use mutate() to create a new column called sleep_awake_ratio that has the ratio of total time spent asleep to total time spent awake (sleep_total divided by awake)

ds %>%
  mutate(sleep_awake_ratio = sleep_total / awake) %>%
  select(sleep_total, awake, sleep_awake_ratio)

   sleep_total awake sleep_awake_ratio
1  12.1        11.9  1.01680672
2  17.0         7.0  2.42857143
3  14.4         9.6  1.50000000
4  14.9         9.1  1.63736264
5   4.0        20.0  0.20000000
6  14.4         9.6  1.50000000
7   8.7        15.3  0.56862745
8   7.0        17.0  0.41176471
9  10.1        13.9  0.72661871
10  3.0        21.0  0.14285714
11  5.3        18.7  0.28342246
12  9.4        14.6  0.64383562
13 10.0        14.0  0.71428571
14 12.5        11.5  1.08695652
15 10.3        13.7  0.75182482
16  8.3        15.7  0.52866242
17  9.1        14.9  0.61073826
18 17.4         6.6  2.63636364
19  5.3        18.7  0.28342246
20 18.0         6.0  3.00000000
21  3.9        20.1  0.19402985
22 19.7         4.3  4.58139535
23  2.9        21.1  0.13744076
24  3.1        20.9  0.14832536
25 10.1        13.9  0.72661871
26 10.9        13.1  0.83206107
27 14.9         9.1  1.63736264
28 12.5        11.5  1.08695652
29  9.8        14.2  0.69014085
30  1.9        22.1  0.08597285
â‹®  â‹®           â‹®     â‹®
54  9.4        14.60 0.6438356
55 10.3        13.70 0.7518248
56 11.0        13.00 0.8461538
57 11.5        12.50 0.9200000
58 13.7        10.30 1.3300971
59  3.5        20.50 0.1707317
60  5.6        18.45 0.3035230
61 11.1        12.90 0.8604651
62 18.1         5.90 3.0677966
63  5.4        18.60 0.2903226
64 13.0        11.00 1.1818182
65  8.7        15.30 0.5686275
66  9.6        14.40 0.6666667
67  8.4        15.60 0.5384615
68 11.3        12.70 0.8897638
69 10.6        13.40 0.7910448
70 16.6         7.40 2.2432432
71 13.8        10.20 1.3529412
72 15.9         8.10 1.9629630
73 12.8        11.20 1.1428571
74  9.1        14.90 0.6107383
75  8.6        15.40 0.5584416
76 15.8         8.20 1.9268293
77  4.4        19.60 0.2244898
78 15.6         8.40 1.8571429
79  8.9        15.10 0.5894040
80  5.2        18.80 0.2765957
81  6.3        17.70 0.3559322
82 12.5        11.50 1.0869565
83  9.8        14.20 0.6901408

In [95]:
# Letâ€™s take a quick detour out of dplyr and into the package tidyr, which is part of the tidyverse.
# This package (which has been loaded for you!) contains a function drop_na() which removes NAâ€™s from a tibble.
# Explore the use of this function with get_help("drop_na"), and then use the function to remove all rows from msleep that contain NAs in the following columns:

?drop_na() # It drops the rows that have at least one missing value

# check the number of missing values
sum(is.na(ds$brainwt))
sum(is.na(ds$sleep_cycle))

ds %>%
  select(brainwt, sleep_cycle) %>%
  drop_na()

# OR (faster)

ds %>%
  drop_na(brainwt, sleep_total)

[1] 27

[1] 51

   brainwt sleep_cycle
1  0.00029 0.1333333
2  0.42300 0.6666667
3  0.07000 0.3333333
4  0.00550 0.2166667
5  0.00640 0.1166667
6  0.00014 0.1500000
7  0.01080 0.3833333
8  0.00630 0.3333333
9  0.00030 0.1166667
10 0.65500 1.0000000
11 0.00350 0.2833333
12 0.02560 0.4166667
13 0.00500 0.5500000
14 1.32000 1.5000000
15 0.17900 0.7500000
16 0.00100 0.2000000
17 0.00040 0.1833333
18 0.00025 0.2000000
19 0.01210 0.4166667
20 0.44000 1.4166667
21 0.18000 0.6666667
22 0.00190 0.1833333
23 0.00120 0.1666667
24 0.00118 0.1500000
25 0.00400 0.2166667
26 0.00033 0.1833333
27 0.18000 0.5000000
28 0.16900 0.9000000
29 0.00250 0.2333333
30 0.05040 0.3500000

In [99]:
# add a another pipe that creates TWO new columns with mutate() containing the mean brainwt and then median bodywt for all mammals.
# Name these columns mean_brainwt and median_bodywt

ds %>%
  mutate(mean_brainwt = round(mean(brainwt, na.rm = TRUE), 2), median_bodywt = median(bodywt)) %>%
  select(mean_brainwt, median_bodywt)

   mean_brainwt median_bodywt
1  0.28         1.67
2  0.28         1.67
3  0.28         1.67
4  0.28         1.67
5  0.28         1.67
6  0.28         1.67
7  0.28         1.67
8  0.28         1.67
9  0.28         1.67
10 0.28         1.67
11 0.28         1.67
12 0.28         1.67
13 0.28         1.67
14 0.28         1.67
15 0.28         1.67
16 0.28         1.67
17 0.28         1.67
18 0.28         1.67
19 0.28         1.67
20 0.28         1.67
21 0.28         1.67
22 0.28         1.67
23 0.28         1.67
24 0.28         1.67
25 0.28         1.67
26 0.28         1.67
27 0.28         1.67
28 0.28         1.67
29 0.28         1.67
30 0.28         1.67
â‹®  â‹®            â‹®
54 0.28         1.67
55 0.28         1.67
56 0.28         1.67
57 0.28         1.67
58 0.28         1.67
59 0.28         1.67
60 0.28         1.67
61 0.28         1.67
62 0.28         1.67
63 0.28         1.67
64 0.28         1.67
65 0.28         1.67
66 0.28         1.67
67 0.28         1.67
68 0.28         1.67
69 0.28         1.67
70 0.28         1.67
71 0.28         1.67
72 0.28         1.67
73 0.28         1.67
74 0.28         1.67
75 0.28         1.67
76 0.28         1.67
77 0.28         1.67
78 0.28         1.67
79 0.28         1.67
80 0.28         1.67
81 0.28         1.67
82 0.28         1.67
83 0.28         1.67