> ### ðŸ“˜ Reference and Inspiration
> This notebook is largely inspired by and draws material from the excellent course provided by **Professor S.J. Spielman**.
>
> You can find the original course material (and many others..) here: [sjspielman.github.io](https://sjspielman.github.io/)

In [5]:
# LEARNING TIDYVERSE
library(tidyverse)

# import the dataset "msleep.csv" - You can find it here: https://www.kaggle.com/datasets/pereyrax/msleep-mammals-sleep-dataset
ds <- read_csv("msleep.csv")

# NB: every exercise should be completed without altering the data set.

Rows: 83 Columns: 11
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (5): name, genus, vore, order, conservation
dbl (6): sleep_total, sleep_rem, sleep_cycle, awake, brainwt, bodywt

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [ ]:
# explore the dataset with the function glimpse()
glimpse(ds)

In [ ]:
# SUBSETTING ROWS WITH FILTER()

# Use filter() to subset msleep to only herbivores.
...
# Inspect the values taken by the variable "vore"
...

# Use filter() to subset msleep to only herbivores and print the head of it.
..

In [ ]:
# Use filter() to subset msleep to only animals who are awake for at least 12 hours of the day.
...

In [ ]:
# Use filter() to subset msleep to only herbivores who are awake for at least 12 hours of the days.
...

In [ ]:
# Use filter() and logical operator %in% (or |) to subset the dataset to keep just herbivores and carnivores.
...

# OR using logical operators

...

In [ ]:
# Use filter() to subset msleep to include only herbivores and carnivores who sleep at least 12 hours a day.
...

# OR logical op.

...

In [ ]:
# Use filter() to subset the data to only carnivores who weigh more than 50 kg.
...

In [ ]:
# Modify your code to the previous question so that it uses variables rather than values in filter()
# NB: this code demonstrate how much simpler is to modify the code when we use variables instead of values
...

In [ ]:
# SUBSETTING COLUMNS WITH SELECT()

# Use select() to keep only the columns name, awake, sleep_total, sleep_rem, and sleep_cycle.
...

In [ ]:
# Use select() to remove the columns genus and order.
...

In [ ]:
# You can also use select() to re-order columns. Reorder the columns as: bodywt, brainwt, then everything else (everything())
---

In [ ]:
# COUNTING THE NUMBER OF ROWS

# The simpler way is nrow(), even if we cannot pipe out another dataframe from it
...
# OR pipe the nrow function without specify an argument
...

# A nice Dplyr function is tally()
...

# Answer the question: How many mammals weigh more than 2000 kg?
...

In [ ]:
# CREATING NEW COLUMNS WITH MUTATE()

# Use mutate() to create a new column called class which literally just contains the string â€œMammaliaâ€. Indeed, these are all mammals!
# Play with it...
...

In [ ]:
# Practice writing pipeline code one line at a time below. For each step of the pipeline, look at the result to confirm it worked before adding the next step.:
# First, use mutate() to add a new column to msleep called class that contains the string â€œMammaliaâ€. Look at the output to make sure it worked.
# Then, add onto the pipeline: code with filter() to REMOVE all mammals in the order â€œRodentiaâ€ (hint: remember the !=logical operator!).
# Finally, add onto the pipeline: use select() to only keep columns in this order: class, order, genus, name.
# If all done correctly, the result should have 4 columns and 61 rows.
...

In [ ]:
# Create a new variable called bodywt_lbs which contains the body weight in pounds (1 kg = 2.2 lbs).
...

In [ ]:
# Use mutate() to create a new column called percent_day_awake that gives the percentage of the day that each species spends awake.
...

In [ ]:
# Use mutate() to create a new column called log_bodywt that gives the natural logarithm of the body weight.
...

In [ ]:
# Use mutate() to create a new column called sleep_awake_ratio that has the ratio of total time spent asleep to total time spent awake (sleep_total divided by awake)
...

In [ ]:
# Letâ€™s take a quick detour out of dplyr and into the package tidyr, which is part of the tidyverse.
# This package (which has been loaded for you!) contains a function drop_na() which removes NAâ€™s from a tibble.
# Explore the use of this function with get_help("drop_na"), and then use the function to remove all rows from msleep that contain NAs in the following columns:

?drop_na() # It drops the rows that have at least one missing value

# check the number of missing values and drop rows with NA values
...
...

# OR pipe the function drop_na() specifying the argument (faster)

...

In [12]:
# add a another pipe that creates TWO new columns with mutate() containing the mean brainwt and then median bodywt for all mammals.
# Name these columns mean_brainwt and median_bodywt
ds %>%
  mutate(mean_brainwt = mean(brainwt, na.rm = TRUE),
         median_bodywt = median(bodywt, na.rm = TRUE)) %>%
  select(mean_brainwt, median_bodywt)

# OR

ds %>%
  drop_na(brainwt, bodywt) %>%
  mutate(mean_brainwt = mean(brainwt),
         median_bodywt = median(bodywt)) %>%
  select(mean_brainwt, median_bodywt)

In [7]:
# Use the if_else() function to create another column called are_you_herbi.
# This column should contain the value â€œherbivoreâ€ if yes, and â€œnot_an_herbivoreâ€ if no.
ds %>%
  mutate(are_you_herbi = if_else(vore == "herbi", "herbivore", "not_an_herbi")) %>%
  select(vore, are_you_herbi)

   vore    are_you_herbi
1  carni   not_an_herbi
2  omni    not_an_herbi
3  herbi   herbivore
4  omni    not_an_herbi
5  herbi   herbivore
6  herbi   herbivore
7  carni   not_an_herbi
8  NA      NA
9  carni   not_an_herbi
10 herbi   herbivore
11 herbi   herbivore
12 herbi   herbivore
13 omni    not_an_herbi
14 herbi   herbivore
15 omni    not_an_herbi
16 omni    not_an_herbi
17 omni    not_an_herbi
18 carni   not_an_herbi
19 herbi   herbivore
20 omni    not_an_herbi
21 herbi   herbivore
22 insecti not_an_herbi
23 herbi   herbivore
24 herbi   herbivore
25 omni    not_an_herbi
26 omni    not_an_herbi
27 herbi   herbivore
28 carni   not_an_herbi
29 omni    not_an_herbi
30 herbi   herbivore
â‹®  â‹®       â‹®
54 omni    not_an_herbi
55 NA      NA
56 omni    not_an_herbi
57 NA      NA
58 NA      NA
59 carni   not_an_herbi
60 carni   not_an_herbi
61 herbi   herbivore
62 insecti not_an_herbi
63 NA      NA
64 herbi   herbivore
65 omni    not_an_herbi
66 omni    not_an_herbi
67 insecti not_an_herbi
68 herbi   herbivore
69 NA      NA
70 herbi   herbivore
71 herbi   herbivore
72 herbi   herbivore
73 NA      NA
74 omni    not_an_herbi
75 insecti not_an_herbi
76 herbi   herbivore
77 herbi   herbivore
78 omni    not_an_herbi
79 omni    not_an_herbi
80 carni   not_an_herbi
81 carni   not_an_herbi
82 carni   not_an_herbi
83 carni   not_an_herbi

In [9]:
# Create a column called â€œweight_classâ€, where mammals that greater than or equal to 100 kg are considered â€œheavyâ€ and mammals that weigh less than 100 kg are considered â€œlightâ€

ds %>%
  mutate(weight_class = if_else(bodywt >= 100, "heavy", "light")) %>%
  select(bodywt, weight_class)

   bodywt   weight_class
1    50.000 light
2     0.480 light
3     1.350 light
4     0.019 light
5   600.000 heavy
6     3.850 light
7    20.490 light
8     0.045 light
9    14.000 light
10   14.800 light
11   33.500 light
12    0.728 light
13    4.750 light
14    0.420 light
15    0.060 light
16    1.000 light
17    0.005 light
18    3.500 light
19    2.950 light
20    1.700 light
21 2547.000 heavy
22    0.023 light
23  521.000 heavy
24  187.000 heavy
25    0.770 light
26   10.000 light
27    0.071 light
28    3.300 light
29    0.200 light
30  899.995 heavy
â‹®  â‹®        â‹®
54  25.235  light
55   0.550  light
56   1.100  light
57   0.021  light
58   1.620  light
59  86.000  light
60  53.180  light
61   1.100  light
62  60.000  light
63   3.600  light
64   0.320  light
65   0.044  light
66   0.743  light
67   0.075  light
68   0.148  light
69   0.122  light
70   0.920  light
71   0.101  light
72   0.205  light
73   0.048  light
74  86.250  light
75   4.500  light
76   0.112  light
77 207.501  heavy
78   0.900  light
79   0.104  light
80 173.330  heavy
81   2.000  light
82   3.380  light
83   4.230  light

In [11]:
# Create a new column in msleep called needs_more_caffeine where mammals who are awake more than 16 hours a day have the value â€œdefinitelyâ€ and other mammals have â€œnopeâ€

ds %>%
  mutate(needs_more_caffeine = if_else(awake > 16, "definitely", "nope")) %>%
  select(awake, needs_more_caffeine)

   awake needs_more_caffeine
1  11.9  nope
2   7.0  nope
3   9.6  nope
4   9.1  nope
5  20.0  definitely
6   9.6  nope
7  15.3  nope
8  17.0  definitely
9  13.9  nope
10 21.0  definitely
11 18.7  definitely
12 14.6  nope
13 14.0  nope
14 11.5  nope
15 13.7  nope
16 15.7  nope
17 14.9  nope
18  6.6  nope
19 18.7  definitely
20  6.0  nope
21 20.1  definitely
22  4.3  nope
23 21.1  definitely
24 20.9  definitely
25 13.9  nope
26 13.1  nope
27  9.1  nope
28 11.5  nope
29 14.2  nope
30 22.1  definitely
â‹®  â‹®     â‹®
54 14.60 nope
55 13.70 nope
56 13.00 nope
57 12.50 nope
58 10.30 nope
59 20.50 definitely
60 18.45 definitely
61 12.90 nope
62  5.90 nope
63 18.60 definitely
64 11.00 nope
65 15.30 nope
66 14.40 nope
67 15.60 nope
68 12.70 nope
69 13.40 nope
70  7.40 nope
71 10.20 nope
72  8.10 nope
73 11.20 nope
74 14.90 nope
75 15.40 nope
76  8.20 nope
77 19.60 definitely
78  8.40 nope
79 15.10 nope
80 18.80 definitely
81 17.70 definitely
82 11.50 nope
83 14.20 nope

In [12]:
# ORGANIZING DATA FRAMES WITH RENAME() AND ARRANGE()
ds %>%
  rename(conservation_status = conservation) %>%
  select(conservation_status)

   conservation_status
1  lc
2  NA
3  nt
4  lc
5  domesticated
6  NA
7  vu
8  NA
9  domesticated
10 lc
11 lc
12 domesticated
13 lc
14 domesticated
15 lc
16 NA
17 lc
18 lc
19 lc
20 lc
21 en
22 lc
23 domesticated
24 domesticated
25 lc
26 lc
27 NA
28 domesticated
29 NA
30 cd
â‹®  â‹®
54 NA
55 lc
56 lc
57 NA
58 NA
59 vu
60 vu
61 NA
62 en
63 lc
64 lc
65 NA
66 NA
67 lc
68 NA
69 NA
70 lc
71 lc
72 lc
73 NA
74 domesticated
75 NA
76 NA
77 vu
78 NA
79 NA
80 NA
81 NA
82 NA
83 NA

In [13]:
# Use arrange() to sort the dataset in ascending order of bodywt
ds %>%
  arrange(bodywt) %>%
  select(bodywt)

   bodywt
1  0.005
2  0.010
3  0.019
4  0.021
5  0.022
6  0.023
7  0.028
8  0.035
9  0.044
10 0.045
11 0.048
12 0.053
13 0.060
14 0.071
15 0.075
16 0.101
17 0.104
18 0.112
19 0.120
20 0.122
21 0.148
22 0.200
23 0.205
24 0.210
25 0.266
26 0.320
27 0.370
28 0.420
29 0.480
30 0.550
â‹®  â‹®
54    4.500
55    4.750
56    6.800
57   10.000
58   14.000
59   14.800
60   20.490
61   25.235
62   33.500
63   50.000
64   52.200
65   53.180
66   55.500
67   60.000
68   62.000
69   85.000
70   86.000
71   86.250
72  100.000
73  161.499
74  162.564
75  173.330
76  187.000
77  207.501
78  521.000
79  600.000
80  800.000
81  899.995
82 2547.000
83 6654.000